<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>counter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2BEE5D91D1B714600138A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2BEE5ED1D1B714600138A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2BEE5F81D1B714600138A0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
